:root{
    --primary-color: #0d0d0d;
    --secondary-color: #2a2b2a;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --background-color: #f5f5f5;
    --text-color: #333;
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --hover-color: #2980b9;
}

.flex{
    display: flex;
}
.flex-c{
    display:flex;
    flex-direction: column;

}
.ac{
    display: flex;
    align-items: center;
    justify-content: center;
}

